html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/dataTables.bootstrap4.min.css")
       
        
        title  Suggested Questions
    include ../menuLateral.jade

        
    div(class='col-md-3 offset-2 pt-4')
        h2 Suggested Questions
    br
    div(class='content')
        div(class='row offset-2')
            div(class='col-11')               
                    div(class='box-body')        
                        table(id='tablaUno' class='table table-sm table-bordered table-striped')
                            thead
                                tr
                                    th(class='tableAll') #
                                    th(class='tableAll') Question 
                                    th(class='tableAll') Action
                        
                            tbody
                    
                                -var i= -1
                    
                    
                        
                                each pregunta in preguntas 
                                    - ++i   
                                    tr  
                                        td #{i}
                                        td #{pregunta.question} 
                                   
                                        td 
                                            a(href='/suggestedQuestion/#{pregunta._id}') 
                                                i(id='icon-see' class='fa fa-eye')
        

    
                        

            
    
        script(type="text/javascript" src='js/bootstrap.js') 
        script(type="text/javascript" src="js/jquery.min.js")
        script(type="text/javascript" src="js/bootstrap.min.js")
        script(type="text/javascript" src="js/jquery.dataTables.min.js")
        script(type="text/javascript" src="js/dataTables.bootstrap4.min.js")

    script(type="text/javascript").

        $(document).ready(function() {
            $('#tablaUno').DataTable();
        } );