html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/dataTables.bootstrap4.min.css")
        
        
        title  Reset Password



    div(class='container-fluid')

        div(class='row')
           -if(error)
                div(class="col mt-2 alert alert-danger fade show" role="alert") #{error}    
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true")&times;  
        div(class='row')
            -if(error2)
                - for errors in error2
                    div(class="col mt-2 alert alert-danger fade show" role="alert") #{errors.msg}    
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true")&times; 

        div(class='row')
            div(class='col-sm-9 col-md-7 col-lg-5 mx-auto')


                div(class="card  wrapper")
                    div(class="card-header text-center") 
                        h2 Reset Password
                    div(class="card-body")
                        form(id='form' action='/reset/' method='POST' autocomplete="off")

                            div(class='col') 
                                label(class='label-custom') New Password     
                                input(type="password" class="form-control" name="pw" placeholder="Enter New Password" required="" autofocus="")
                            br
                            div(class='col') 
                                label(class='label-custom') Confirm Password     
                                input(type="password" class="form-control" name="pw2" placeholder="Confirm new password" required="" autofocus="")
                            br
                           
                            button(class="btn btn-lg btn-primary btn-block" type="submit") Update Password
                        





        script(type="text/javascript" src='/js/bootstrap.js') 
        script(type="text/javascript" src="/js/jquery.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")