html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
        script(type="text/javascript" src='/js/bootstrap.js')
        script(type="text/javascript" src='/js/bootstrap.min.js')
        title New Setting
    include ../menuLateral.jade
    
    div(class='container')
        div(class='row')
            div(class='col offset-2 pt-3')
                h2 New Setting

                - if(error)
                    ul(class='list-group ul-style') 
                        h5 Arreglar los siguientes errores:
                        - for errors in error
                             li(class="list-group-item list-group-item-danger alert alert-danger alert-dismissible fade show" role="alert")  #{errors.msg}    
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true")&times; 

        br
        form(id='form', action='/variable/new', method='POST' autocomplete="off")
            div(class='row form-group offset-2')
                div(class='col-8 ')
                    Label(class='label-form-style') Title 
                    input(id='question', class='form-control' name='title' placeholder='type a title')

                div(class='col-8')
                    Label(class='label-form-style') Description                
                    input(id='option1', class='form-control', name='description' placeholder='type a description')      

            br
            div(class='row form-group offset-2')
                div(class='col d-flex justify-content-between')   
                    a(href='/variable' class='back-style pl-3 pr-3 btn btn-outline-info' role="button")  Cancel          
                    input(type='submit', class='btn btn-outline-success'  value='Save')
                
              