html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="../public/css/style.css")
        link(rel="stylesheet" href="../public/css/bootstrap.css")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
        script(type="text/javascript" src='../public/js/bootstrap.js')
        script(type="text/javascript" src='../public/js/bootstrap.min.js')
        title New User
    include ../menuLateral.jade
    
    div(class='container')
        div(class='row')
            div(class='col offset-2 row-style')
                h2 New User

                - if(error)
                    ul(class='list-group ul-style') 
                        - for errors in error
                            li(class="list-group-item list-group-item-danger alert alert-danger alert-dismissible fade show" role="alert")  #{errors.msg}    
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true")&times;
                            



        form(id='form', action='/user/new', method='POST' autocomplete="off")
         div(class='row')
            div(class='form-group col-8 offset-2')
                Label(class='label-form-style') Nickname              
                input(id='nickname', class='form-control' name='nickname' placeholder='nickname')
                   

            div(class='form-group col-8 offset-2')
                Label(class='label-form-style') Country Code
                select(id='country_code', class='form-control', name='country_code')
                    option +58
                    option +57
                    option +51
            
            div(class='form-group col-8 offset-2')
                Label(class='label-form-style') Phone                
                input(id='phone', class='form-control', name='phone' placeholder='phone')


            div(class='col-sm-4 margin-div-cancel offset-2') 
                a(href='/user' class='back-style pl-3 pr-3 btn btn-outline-info' role="button")  Cancel
                
            div(class='col-3 margin-div-agree offset-2')
                    input(type='submit', class='btn btn-outline-success'  value='Save')
            
            
                
              

           