doctype html
html(lang="en")
    head
        h1 hola aqui en la api
        title= title
        h1= message
        a(href='/category') Details all Categories - 
        a(href='/question') Details all Questions - 


