doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet"  href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        title Welcome Admin
        
    include ./menuLateral.jade
            
    div(class='container-fluid')
            div(class='row')
                div(class='col-sm-9 col-md-7 col-lg-5 mx-auto')


                    
        
    - if(message)
        div(class='row')
            div(class='col-1')
            div(class="mt-2 col-10 alert alert-success fade show" role="alert") #{message}    
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")&times;
            div(class='col-1')  
    
    - if(error)
        div(class='row')
            div(class='col-1')
            div(class="mt-2 col-10 alert alert-danger fade show" role="alert") #{error}    
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")&times;   
            div(class='col-1')  


        script(type="text/javascript" src='/js/bootstrap.js') 
        script(type="text/javascript" src="/js/jquery.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")




                


