html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title DETALLE DE CATEGORIA
    body
    h1 DETALLE DE CATEGORIA

     p ID: #{categoria._id}   
     p Name: #{categoria.name}
     p Description: #{categoria.description}

     a(href='/') BACK - 