html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALL CATEGORIES
    body
    table
      thead
        tr.head
            th ID Categoria
            th Nombre Categoria 
            th Descripcion Categoria
            th Acciones
      
      tbody
        -var i= -1
        each categoria in categorias  
            - ++i   
            tr    
                td #{categoria._id}
                td #{categoria.name} 
                td #{categoria.description}
                td 
        
