html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ALL CATEGORIES
    body
    h1 DETALLE DE CATEGORIA
        
     p Name: #{categoria.name}
     p Description: #{categoria.description}