html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NEW CATEGORY
    body
        h1 New Category
        - if(error)
            ul
                - for errors in error
                    li  #{errors.msg}    
                        
        form(id='form', action='/category/new', method='POST' autocomplete="off")
            input(id='name', name='name', placeholder='Name')
            input(id='description', name='description', placeholder='Description')
            input(type='submit', value='new category')

