
import 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", type= "text/css", href="../public/css/style.css")
        link(rel="stylesheet" href="../public/css/bootstrap.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        
        link(rel="stylesheet" href="../public/css/bootstrap-datepicker.min.css")
        
        
        
        
        link(rel="stylesheet", type= "text/css", href="../public/css/bootstrap-select.css")
        
       
        
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
        

        
               
       
      
        script(type="text/javascript" src='../public/js/bootstrap-select.js')
        script(type="text/javascript" src='../public/js/bootstrap-select.min.js')
 
        
        
        
        
        



       
        title New Game
    include ../menuLateral.jade
    
    div(class='container')
        div(class='row')
            div(class='col offset-2 row-style')
                h2 New Game


        form(id='form', action='/game/new', method='POST' autocomplete="off")
            div(class='row')
                div(class='form-group col-7 offset-2')
                    Label(class='label-form-style') Title
                    input(class='form-control' id='title', name='title')
                
                div(class='form-group col-7 offset-2')
                    Label(class='label-form-style') Date           
                    input(type="text" class="form-control pull-right" id="datepicker" name='date')           
                
                div(class='form-group col-3 offset-2')
                    Label(class='label-form-style') Time
                    select(id='hora', class='form-control', name='tome')
                        option 1:00
                        option 2:00
                        option 3:00
                        option 4:00
                        option 5:00
                        option 6:00
                        option 7:00
                        option 8:00
                        option 9:00
                        option 10:00
                        option 11:00
                        option 12:00
                    select(id='ampm', class='ampm-style form-control', name='ampm')
                        option AM
                        option PM
                    

                
                div(class='form-group col-7 offset-2')
                    Label(class='label-form-style') Prize                
                    input(class='form-control' id='prize', name='prize')


                    
                div(class="form-group col-7 offset-3")   
                    select(class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..")
                        option(value="" disabled selected) Choose your country
                        option Mustard
                        option Ketchup
                        option Relish


script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
script(type="text/javascript" src='../public/js/bootstrap.js')
script(type="text/javascript" src='../public/js/bootstrap.min.js')
script(type="text/javascript" src='../public/js/bootstrap-datepicker.min.js')
script(type="text/javascript" src='../public/js/bootstrap-colorpicker.min.js')
script(type="text/javascript" src='../public/js/bootstrap-timepicker.min.js')

script(type="text/javascript").

    $(document).ready(function() {
        $('#datepicker').datepicker({
            autoclose: true
        });

        
  

    });
     

    

   
    