html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NEW QUESTION
    body
        h1 New Question
        form(id='form', action='/question/new', method='POST')
            input(id='name', name='name', placeholder='Name')
            input(id='description', name='description', placeholder='Description')
            input(type='submit', value='new category')
            select(id="xxx", name="xxxyyy")
                -for(var i=1;i<=categorias.length;i++){
                    -var categoryChange= JSON.parse(JSON.stringify(categorias))[i]; 
                     option(value="#{categoryChange._id}") #{categoryChange.name}
                -}
               
               