html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NEW QUESTION
    body
        h1 New Question
        - if(error)
            ul
                - for errors in error
                    li  #{errors.msg}  
        form(id='form', action='/question/new', method='POST' autocomplete="off")
            input(id='question', name='question', placeholder='Question')
            input(id='option1', name='options', placeholder='Option #1')
            input(id='option2', name='options', placeholder='Options #2')
            input(id='option3', name='options', placeholder='Options #3')
            input(id='answer', name='answer', placeholder='Answer')
            select(id="level", name='level')
                option(value='select a level' selected) level
                option(value='bajo') bajo
                option(value='medio') medio
                option(value='alto') alto
            select(id="cmbboxCategorias" name="categoriasCombo")
                -each categoria, i in categorias
                    option(value="#{categoria._id}") #{categoria.name}
            input(type='submit', value='new question')
                
              
                  
                   
                     
                   
           

            
               
               