html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", type= "text/css", href="../public/css/style.css")
        title NEW QUESTION
    body
        h1 New Question
        - if(error)
            ul
                - for errors in error
                    li  #{errors.msg}  
        form(id='form', action='/question/new', method='POST' autocomplete="off")
            input(id='question', class='change' name='question', placeholder='Question')
            input(id='option1', class='change', name='options', placeholder='Option #1')
            input(id='option2', class='change', name='options', placeholder='Options #2')
            input(id='option3', class='change', name='options', placeholder='Options #3')
            input(id='answer', class='change', name='answer', placeholder='Answer')
            label Bajo 
            input(type='radio', name='level', value='bajo')            
            label Medio 
            input(type='radio', name='level', value='medio')
            label Alto 
            input(type='radio', name='level', value='alto')
            br
            -each categoria, i in categorias
                label #{categoria.name}
                input(type='checkbox' name='categoriasCombo' value="#{categoria._id}")
                br
            input(type='submit', value='new question')     
            
                
              
                  
                   
                     
                   
           

            
               
               