html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/dataTables.bootstrap4.min.css")
       
        
        title  Make Connection
    include ../menuLateral.jade

    
    div(class='row')
        div(class='col-1')
        div(class='col-10')
            h2 Make Connection
        div(class='col-10')
    

    
    div(class='row mt-5')
        div(class='col-3')
        div(class='col-6')                    
            h5(class='label-form-style combobox-question-custom')  Before starting, you must activate the server. Press the next button when you are ready to turn on the server.
            hr
            
            //- form(action='/executeGame/#{partida}' class= "link" style="margin:0 !important;" method="GET" id='buttonStart')
            
            
            //- button( class='btn btn-outline-info' id='conexion') Establish Connection
            a(href='#' class='d-flex justify-content-center btn btn-outline-info' role="button"  id='conexion') Establish Connection
            input(type='hidden' style="visibility:hidden" value='#{partida}'  id='identificador') 
        div(class='col-3')
    

    div(id='foo' style="display: none")

        script(type="text/javascript" src='/js/bootstrap.js') 
        script(type="text/javascript" src="/js/jquery.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" )
     

script(type="text/javascript").

    $(document).ready(function() {

         var opts = {
                lines: 10, // The number of lines to draw
                length: 42, // The length of each line
                width: 8, // The line thickness
                radius: 31, // The radius of the inner circle
                scale: 0.85, // Scales overall size of the spinner
                corners: 1, // Corner roundness (0..1)
                color: '#1db7cc', // CSS color or array of colors
                fadeColor: 'transparent', // CSS color or array of colors
                speed: 0.7, // Rounds per second
                rotate: 19, // The rotation offset
                animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
                direction: 1, // 1: clockwise, -1: counterclockwise
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                className: 'spinner', // The CSS class to assign to the spinner
                top: '55%', // Top position relative to parent
                left: '50%', // Left position relative to parent
                position: 'absolute' // Element positioning
            }
        var target = document.getElementById('foo');
        var spinner = new Spinner(opts).spin(target);

        $("#conexion").click(function(){
            target.style.display =' block';
           
            setTimeout(function(){                   
                target.style.display =' none';  
                     
            }, 5000)
             $("#conexion").attr("href","/executeGame/"+$("#identificador").val());   
             
        });
    })